'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Purty'
      'submenu': [
        {
          'label': 'Prettify'
          'command': 'purty:prettify'
        }
      ]
    ]
  }
]
